.box {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #333;
    position: relative;
  }

.left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

#gradient {
  background: #999955;
  background-image: linear-gradient(#FF0018 20%, #FFA52C 20%, #FFA52C 40%, #FFFF41 40%, #FFFF41 60%, #008018 60%, #0000F9 80%, #86007D 80%);
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  height: 250px;
  /* position: relative; */
}

#gradient:after {
  content: "";
  position: absolute;
  background: red;
  left: 50%;
  margin-top: -67.5px;
  margin-left: -270px;
  padding-left: 20px;
  border-radius: 5px;
  width: 520px;
  height: 395px;
  z-index: -1;
}

#card {
  position: absolute;
  width: 450px;
  height: 340px;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
  left: 50%;
  top: 67.5px;
  margin-left: -250px;
  background: #E9E2D0;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

#card img {
  width: 150px;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  filter: sepia(1);
}

#card h2 {
  font-family: courier;
  margin: 0 auto;
  padding: 0;
  font-size: 15pt;
}

#card p {
  font-family: courier;
  font-size: 13px;
}

#card span {
  font-family: courier;
}

.name {
  margin: 5px;
  display: flex;
justify-content: center}
ul {
}