.main-footer {
  padding: 4px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  clear: both;
  text-align: center;
  color: #d2d8e0;
  background-color: rgb(5, 30, 52);
}

.clickable {
  cursor: pointer;
}
